.title {
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  @media screen and (min-width: 580px) {
    font-size: 4rem;
  }
}
.text-m {
  font-size: 1.4rem;
  font-weight: 700;
}
.text-bold-black {
  color: var(--light-theme-very-dark-blue);
  font-weight: 700;
}
.text-gray {
  color: var(--light-theme-dark-blue);
}
.text-gray-blur {
  color: var(--light-theme-dark-blue);
}
.text-small {
  font-size: 1.2rem;
  @media screen and (min-width: 580px) {
    font-size: 1.4rem;
  }
}
.text-list {
  font-size: 1.2rem;
  font-weight: 500;

  @media screen and (min-width: 580px) {
    font-size: 1.8rem;
  }
}
.text-form {
  font-size: 1.2rem;
  @media screen and (min-width: 580px) {
    font-size: 1.8rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86vw;
  padding: 5.2rem 0 4rem 0;
  text-align: center;
  margin: 0 auto;
  @media screen and (min-width: 580px) {
    width: 54rem;
    padding: 7rem 0 4.8rem 0;
  }
  .hero-container {
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
    background: url("../images/bg-mobile-light.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 27vh;
    background-size: cover;
    @media screen and (min-width: 580px) {
      background: url("../images/bg-desktop-light.jpg");
      background-repeat: no-repeat;
      width: 100vw;
      height: 37vh;
      background-size: cover;
    }
  }
}
.grid-form {
  grid-area: form;
}
.grid-list {
  grid-area: list;
  margin-top: 1.6rem;
  @media screen and (min-width: 580px) {
    margin-top: 2.4rem;
  }
}
.grid-left {
  grid-area: left;
}
.grid-clear {
  grid-area: clear;
  cursor: pointer;
}
.grid-search {
  margin-top: 1.6rem;
  margin-bottom: 4rem;
  grid-area: search;
  background-color: var(--color-white);
  @media screen and (min-width: 580px) {
    margin: 0;
  }
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .todo-container {
    display: grid;
    grid-template-columns: 43vw 43vw;
    grid-template-areas:
      "form form"
      "list list"
      "left clear"
      "search search";
    @media screen and (min-width: 580px) {
      max-width: 540px;
      grid-template-columns: repeat(3, 18rem);
      grid-template-areas:
        "form form form"
        "list list list"
        "left search clear";
    }
  }
  .todo {
    &__form {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        border: 1px solid var(--light-theme-grayish-blue);
        border-radius: 50%;
        top: 18px;
        left: 11px;
      }
      & > input[type="text"] {
        width: 100%;
        font-family: $josefin;
        border-radius: 0.5rem;
        padding: 2rem 2rem 2rem 4rem;
        border: none;
        outline: none;
        caret-color: var(--color-bright-blue);
        @media screen and (min-width: 580px) {
          padding: 2rem 2rem 2rem 5rem;
        }
      }
    }
    &__content {
      list-style-type: none;
      background: white;
      // border-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      .item {
        padding: 2rem 2rem 2rem 4rem;
        border-bottom: 1px solid var(--light-theme-grayish-blue);
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        margin-bottom: 10px;
        // text-decoration: line-through;
        @media screen and (min-width: 580px) {
          padding: 2rem 2rem 2rem 5rem;
        }
      }
    }
    &__info {
      background-color: var(--dark-theme-dark-blue);
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 86vw;
      background-color: var(--color-white);
      padding: 2rem 2rem 2rem 4rem;
      border-radius: 0 0 0.5rem 0.5rem;
      & > div {
        display: flex;
      }
      .clear-completed {
        &:hover {
          color: var(--light-theme-very-dark-blue);
        }
      }
      @media screen and (min-width: 580px) {
        width: 540px;
      }
    }
    &__search {
      display: flex;
      justify-content: center;
      height: 4.8rem;
      align-items: center;
      border-radius: 0.5rem;
      .search-container {
        display: flex;
        width: 60%;
        max-width: 400px;
        justify-content: space-between;
        @media screen and (min-width: 580px) {
          width: 100%;
        }
        .search__item {
          cursor: pointer;
          &:hover {
            color: var(--light-theme-very-dark-blue);
          }
        }
      }
    }
  }
  .dragn {
    @media screen and (min-width: 580px) {
      margin-top: 4.9rem;
    }
  }
}
